<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.UNAIDHUB"
        tools:targetApi="31">
        <activity
            android:name=".passReset.Password"
            android:exported="false" />
        <activity
            android:name=".profilesetups.UserSetup"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Features.Location"
            android:exported="false" />
        <activity
            android:name=".Chats.LiveChat"
            android:exported="false" />
        <activity
            android:name=".Chats.BotChat"
            android:exported="false" />
        <activity
            android:name=".profilesetups.SetCard"
            android:exported="false" />
        <activity
            android:name=".profilesetups.OrgSetup"
            android:exported="false" />
        <activity
            android:name=".Features.MyAccount"
            android:exported="false" />
        <activity
            android:name=".login.Login"
            android:exported="false" />
        <activity
            android:name=".Features.Donation"
            android:exported="false" />
        <activity
            android:name=".Features.Service"
            android:exported="false" />
        <activity
            android:name=".Features.Home"
            android:exported="false" />
        <activity
            android:name=".welcome.Welcome4"
            android:exported="false" />
        <activity
            android:name=".welcome.Welcome3"
            android:exported="false" />
        <activity
            android:name=".welcome.Welcome2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>